*{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

header{
    margin: 0;
    margin-top: 0;
    height: 800px;
    width: 100%;
    background-image: url("banner.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 20px;
    position: relative;
    overflow-y: hidden;
}

nav{
    width: 60%;
    height: fit-content;
    padding-block: 20px;
    padding-inline: 30px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.064);
    border: 1px rgba(255, 255, 255, 0.299) solid;
}

nav div{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    position: relative;
    color: white;
    width: fit-content;
}

#active::after{
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    bottom: -10;
    left: 0;
}

nav img{
    width: 10%;
    margin-inline: 30px;
}

.header-bottle{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: auto;
    aspect-ratio: 640 / 1618;
    background-size: cover;
    background-position: center;
    background-image: url("public/low-sugar-can.png");
}

.header-bottle::after{
    content: "";
    position: absolute;
    width: 120%;
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, 0), black);    
    z-index: 10;
    bottom: -5%;
    transform: translate(-50%, 0%);
    left: 50%;
    /* backdrop-filter: blur(50px); */
    filter: blur(20px);
}




.header-slogan{
    position: absolute;
    left: 17%;
    rotate: 3deg;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url("public/BannerSlogan.svg");
}
