:root {
    --primary-red: #ff0000;
    --glass-bg: rgba(255, 0, 0, 0.06);
    --glass-border: 1px solid rgba(255, 255, 255, 0.3);
    --font-main: "Montserrat", sans-serif;

    --primary-dark:#0e0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    line-height: 1.6;
    overflow-x: hidden;
}

footer{
    height: 200px;
    background-color: black;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
}

footer img{
    width: 10%;
    margin-right: 100px;
}

#eydos{
    width: 13%;
    margin: auto;
    margin-right: 50px;
}

#eydos1{
    display: none;
}

footer div{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pr-20{
    padding-right: 20px;
}

.pl-20{
    padding-left: 20px;
}

.m-auto{
    margin: auto;
}

.mt-20{
    margin-top: 20px;
}

.mt-30{
    margin-top: 30px;
}

.mt-100{
    margin-top: 100px;
}

.mt-50{
    margin-top: 50px;
}

.mt-40{
    margin-top: 40px;
}

.mb-40{
    margin-bottom: 40px;
}

.mr-20{
    margin-right: 20px;
}

.ml-20{
    margin-left: 20px;
}

.h-500{
    height: 500px;
}

.w-80-percent{
    width: 80%;
}

.w-100-percent{
    width: 100%;
}

.left-border-radius-40{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.right-border-radius-40{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.row-reverse{
    flex-direction: row-reverse;
}

@media screen and (max-width: 600px) {
    .w-90-percent-mobile{
        width: 90%;
    }

    footer{
        height: fit-content;
        background-color: black;
        width: 100%;
        padding: 30px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }
    
    footer img{
        width: 60%;
        margin: auto;
        margin-bottom: 20px;
    }

    #eydos{
        display: none;
    }

    #eydos1{
        display: flex;
        width: 40%;
        margin: auto;
        margin-top: 50px;
    }
    
    footer div{
        width: 40%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    footer .nav-link{
        display: flex;
    }
}