@font-face {
    font-family: "Spantaran"; /* This is the name you decide to use */
    src: url("../font/racing-energy-font/RacingEnergy-E44Kn.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 0;
    padding-bottom: 50px;
}

.contact-section p{
    position: relative;
    font-size: 1.3rem;
    width: 60%;
    text-align: center;
    color: rgb(110, 37, 37);
    font-family: "Montserrat", sans-serif;
}

.form-description{
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 0;
    height: auto;
    padding-block: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container{
    width: 95%;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

iframe{
    width: 95%;
    margin-top: 20px;
    border: 1px solid red;
    box-shadow: 0px 0px 5px red;
    border-radius: 20px;
}

.contact-box{
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.contact-card{
    height: 49%;
    width: 100%;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(255, 87, 87);
    border-radius: 15px;
    padding: 30px;
}

.contact-card h2{
    font-size: 1.8rem;
}

.contact-card div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-left: 0;
}

.contact-card i{
    color: rgb(120, 0, 0);
}

.contact-card p{
    margin: auto;
    color: rgb(214, 84, 84);
    margin-left: 0;
    width: fit-content;
    margin-top: 20px;

}

#hours{
    width: 40%;
}

#hours h3{
    font-weight: 400;
    color: rgb(214, 84, 84);
}

#hours p{
    font-weight: bold;
    
    color: rgb(120, 0, 0);
}

form{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    width: 49%;
    height: 100%;
    background: rgb(238, 238, 238);
    border: 1px solid rgb(255, 87, 87);
    margin: auto;
    margin-left: 0;
    border-radius: 15px;

}



.form-group{
    width: 100%;
    position: relative;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label{
    color: white;
    position: absolute;
    top: -12;
    left: 15;
    background-color: rgb(255, 74, 74);
    padding: 2px;
    padding-inline: 5px;
    border-radius: 4px;
}

h2{
    color: rgb(120, 0, 0);
    margin: auto;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

hr{
    height: 2px;
    width: 100%;
    margin: auto;
    margin-top: 10;
    background-color: rgba(255, 0, 0, 0.176);
    border: none;
    border-radius: 3px;
}

form input{
    font-size: 1.4rem;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    background: linear-gradient(90deg, rgba(205, 0, 0, 0.356), rgba(255, 81, 81, 0.361));
    border: rgb(255, 81, 81) solid 1px;
    color: rgb(84, 0, 0);
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding-top: 20px;
}

form textarea{
    font-size: 1.4rem;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    background: linear-gradient(90deg, rgba(205, 0, 0, 0.356), rgba(255, 81, 81, 0.361));
    border: rgb(255, 81, 81) solid 1px;
    color: rgb(84, 0, 0);
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding-top: 20px;
}

form button{
    width: 100%;
    padding-block: 15px;
    font-size: 1.3rem;
    border-radius: 7px;
    color: white;
    border: 1px rgba(255,100, 100, 0.943) solid;
    background-color: rgba(255, 100, 100, 0.7);
    transition: 0.2s;
    font-family: "Montserrat", sans-serif;
}

form button:hover{
    border: 1px rgba(255, 255, 255, 1) solid;
    background-color: rgba(255, 100, 100, 0.3);
    cursor: pointer;
}

form textarea::placeholder, input::placeholder{
    color: rgba(255, 255, 255, 0.626);
}

.form-divider .form-group{
    overflow-y:visible;
    width: 49%;
}

.form-divider{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.form-image{
    width: 55%;
    height: 800px;
    margin: auto;
    margin-left: 0;
    background-image: url("../image/truck.jpg");
    background-position: center;
    background-size: cover;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#mobile{
    display: none;
}

@media screen and (max-width: 600px){
    
    .form-image{
        margin: auto;
        width: 95%;
        border-radius: 15px;
        height: 550px;
    }

    form{
        margin: auto;
        width: 95%;
        border-radius: 15px;
        height: fit-content;
        margin-top: 20px;
        padding: 10px;
        padding-bottom: 20px;
    }

    form h2{
        font-size: 1.8rem;
    }

    .form-group{
        width: 95%;
    }

    .form-divider{
        width: 95%;
    }

    form button{
        width: 95%;
    }

    .form-description p{
        display: none;
    }

    #mobile{
        display: flex;
        width: 80%;
    }
}